.footer-logo {
    margin-top: -100px;
}
.footer-contact-detail{
    margin-top: 10px;
}
.footer-contact-detail-links{
    margin-top: 50px;
}

/* Counter */
.elementor-9 .elementor-element.elementor-element-123a969:not(.elementor-motion-effects-element-type-background), .elementor-9 .elementor-element.elementor-element-123a969 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #36345C;
}
.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}
.elementor-section .elementor-container {
    display: flex
;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .elementor-column.elementor-col-33, .elementor-column[data-col="33"] {
        width: 33.333%;
    }
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}
.elementor-column {
    display: flex
;
    min-height: 1px;
    position: relative;
}.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: flex
;
}
.elementor-widget-wrap {
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-9 .elementor-element.elementor-element-bfd022b {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}
.elementor-widget {
    position: relative;
}
.elementor-element:where(.e-con-full,.elementor-widget) {
    align-content: var(--align-content);
    align-items: var(--align-items);
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    gap: var(--row-gap) var(--column-gap);
    justify-content: var(--justify-content);
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    align-self: var(--align-self);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-9 .elementor-element.elementor-element-bfd022b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}
.elementor-element .elementor-widget-container, .elementor-element:not(:has(.elementor-widget-container)) {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
#left-area ul.elementor-icon-list-items, .elementor .elementor-element ul.elementor-icon-list-items, .elementor-edit-area .elementor-element ul.elementor-icon-list-items {
    padding: 0;
}
.elementor-widget .elementor-icon-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-9 .elementor-element.elementor-element-bfd022b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
}
.elementor-widget .elementor-icon-list-item, .elementor-widget .elementor-icon-list-item a {
    align-items: var(--icon-vertical-align, center);
    display: flex
;
    font-size: inherit;
}
.elementor-widget .elementor-icon-list-item {
    margin: 0;
    padding: 0;
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-widget.elementor-widget-icon-list .elementor-icon-list-icon {
    text-align: var(--e-icon-list-icon-align);
}
.elementor-widget .elementor-icon-list-icon {
    display: flex
;
    position: relative;
    top: var(--icon-vertical-offset, initial);
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-9 .elementor-element.elementor-element-bfd022b .elementor-icon-list-icon i {
    color: var(--e-global-color-3905126);
    transition: color 0.3s;
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}
.elementor-widget .elementor-icon-list-icon i {
    font-size: var(--e-icon-list-icon-size);
    width: 1.25em;
}
.far {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}
.elementor-9 .elementor-element.elementor-element-bfd022b .elementor-icon-list-item > .elementor-icon-list-text, .elementor-9 .elementor-element.elementor-element-bfd022b .elementor-icon-list-item > a {
    font-family: "Roboto Slab", Sans-serif;
    font-weight: 500;
}
.elementor-9 .elementor-element.elementor-element-bfd022b .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget .elementor-icon-list-icon+.elementor-icon-list-text {
    align-self: center;
    padding-inline-start: 5px;
}